@tailwind base;
@tailwind components;
@tailwind utilities;

/* default text styling */

.post-text {
  @apply font-light text-gray-500 dark:text-gray-400;
}

/* add margins to text */

.post-text > * {
  @apply my-3;
}

.post-text > * + * {
  @apply mt-0;
}

/* blockquote */

.post-text blockquote {
  @apply border-l-2 border-gray-200 font-normal dark:border-gray-800 dark:text-gray-400;
}

.post-text blockquote p:first-child {
  @apply ml-2 italic;
}

.post-text blockquote footer {
  @apply ml-2 text-sm;
}

/* images */

.post-text img {
  @apply mx-auto rounded-md shadow-sm;
}

.post-text figure {
  @apply w-full;
}

.post-text figcaption {
  @apply mt-2 text-neutral-400;
}

/* links */

.post-text a {
  @apply relative break-words;
}

.post-text a code {
  @apply text-blue-600 dark:text-blue-500;
}

/* tables */

.post-text table {
  @apply my-2 rounded-md border border-gray-200 dark:border-gray-800 dark:text-gray-50;
}

.post-text.comment table {
  @apply my-2;
}

.post-text thead {
  @apply text-gray-800 dark:text-gray-200;
}

.post-text thead th {
  @apply p-2;
}

.post-text thead th,
.post-text tbody th,
.post-text tbody td {
  @apply border-r border-gray-200 p-2 dark:border-gray-800;
}

.post-text tbody tr {
  @apply border-b border-gray-200 dark:border-gray-800;
}

.post-text thead tr {
  @apply border-b-2 border-gray-200 dark:border-gray-800;
}

.post-text tbody tr:nth-child(2n) {
  @apply bg-gray-50 dark:bg-gray-900;
}

/* bold */

.post-text b,
.post-text strong {
  @apply font-bold text-gray-900 dark:text-gray-300;
}

/* headings */

.post-text hr {
  @apply border-gray-200 dark:border-gray-800;
}

.post-text h1,
.post-text h2,
.post-text h3,
.post-text h4,
.post-text h5,
.post-text h6 {
  @apply font-sans font-bold text-gray-900 dark:text-gray-100;
  scroll-margin-top: 4rem;
}

.post-text h1 a,
.post-text h2 a,
.post-text h3 a,
.post-text h4 a,
.post-text h5 a,
.post-text h6 a {
  @apply font-sans font-bold text-gray-100 no-underline dark:text-gray-100;
}

/* code */

.post-text pre {
  @apply space-y-4 rounded-md border-gray-300 bg-gray-400 bg-opacity-5 px-8 py-6 text-sm text-gray-800 dark:border-gray-800 dark:text-gray-200;
}

.post-text code {
  @apply rounded-md border-gray-100 bg-gray-100 px-1 py-0.5 text-gray-800 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-200;
}

.post-text code,
.post-text pre {
  @apply whitespace-pre-wrap text-sm font-medium;
  word-break: break-word;
}

.post-text pre > code {
  @apply bg-gray-800 text-gray-200;
}

.post-text pre {
  @apply bg-gray-800 text-gray-100;
}

.post-text sup {
  @apply text-sm text-blue-500 dark:text-gray-400;
  vertical-align: super;
  top: 0px;
  position: relative;
  scroll-margin-top: 4rem;
}

/* comments */

.post-text.comment {
  @apply max-w-none;
}

.post-text.comment pre {
  @apply my-2 px-3 py-2;
}

.post-text.comment p,
.post-text.comment ul,
.post-text.comment ol {
  @apply my-3 list-decimal;
}

.post-text.comment p:first-of-type {
  margin-top: 0 !important;
}

.post-text.comment p + p {
  margin-top: 0;
}

.post-text.comment pre {
  @apply my-3;
}

.post-text.comment a {
  @apply break-all;
}
