@tailwind base;
@tailwind components;
@tailwind utilities;

.remirror-editor {
  @apply text-gray-700 dark:text-gray-400;
}

.remirror-editor blockquote {
  @apply border-l-2 border-gray-200 font-normal dark:border-gray-800 dark:text-gray-400;
}

.remirror-editor blockquote p:first-child {
  @apply ml-2;
}

.remirror-editor figure {
  @apply md:-mx-6;
}

.remirror-editor img {
  @apply w-full rounded-md;
}

.remirror-editor a {
  @apply relative break-words font-normal text-blue-500 after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-full after:translate-y-1 after:bg-blue-300 after:opacity-0 after:transition after:duration-200 after:ease-in-out hover:after:translate-y-0 hover:after:opacity-100;
}

.remirror-editor a code {
  @apply text-blue-600 dark:text-blue-500;
}

.remirror-editor table {
  @apply my-2 rounded-md border border-gray-200 text-gray-100 dark:border-gray-800 dark:text-gray-50;
}

.remirror-editor.comment table {
  @apply my-2;
}

.remirror-editor thead {
  @apply text-gray-800 dark:text-gray-200;
}

.remirror-editor thead th {
  @apply p-2;
  padding-left: 1rem !important;
}

.remirror-editor thead th,
.remirror-editor tbody th,
.remirror-editor tbody td {
  @apply border-r border-gray-200 p-2 dark:border-gray-800;
  padding-left: 1rem !important;
}

.remirror-editor tbody tr {
  @apply border-b border-gray-200 dark:border-gray-800;
}

.remirror-editor thead tr {
  @apply border-b-2 border-gray-200 dark:border-gray-800;
}

.remirror-editor tbody tr:nth-child(2n) {
  @apply bg-gray-50 dark:bg-gray-900;
}

.remirror-editor b,
.remirror-editor strong {
  @apply font-bold text-gray-900 dark:text-gray-300;
}

.remirror-editor hr {
  @apply border-gray-200 dark:border-gray-800;
}

/* the kg-embed-card gets applied to iframes sent from Ghost. this preserves a good video aspect ratio */
.remirror-editor .kg-embed-card {
  @apply my-4;
  position: relative;
  padding-top: 56.25%;
}

.remirror-editor .kg-embed-card iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.remirror-editor h1,
.remirror-editor h2,
.remirror-editor h3,
.remirror-editor h4,
.remirror-editor h5,
.remirror-editor h6 {
  @apply font-sans font-bold text-gray-900 dark:text-gray-100;
  scroll-margin-top: 4rem;
}

.remirror-editor h1 a,
.remirror-editor h2 a,
.remirror-editor h3 a,
.remirror-editor h4 a,
.remirror-editor h5 a,
.remirror-editor h6 a {
  @apply font-sans font-bold text-gray-100 no-underline dark:text-gray-100;
}

.remirror-editor h1 {
  @apply mt-12 -mb-3 text-4xl;
}

.remirror-editor h2 {
  @apply mt-10 -mb-3 text-3xl;
}

.remirror-editor h3 {
  @apply mt-8 -mb-3 text-2xl;
}

.remirror-editor h4 {
  @apply mt-6 -mb-3 text-xl;
}

.remirror-editor h5 {
  @apply mt-4 -mb-3 text-lg;
}

.remirror-editor h6 {
  @apply mt-2 -mb-3 font-bold;
}

.remirror-editor pre {
  @apply space-y-4 rounded-md border-gray-300 bg-gray-400 bg-opacity-5 px-8 py-6 text-sm text-gray-800 dark:border-gray-800 dark:text-gray-200;
}

.remirror-editor.comment {
  @apply max-w-none;
}

.remirror-editor.comment pre {
  @apply my-2 px-3 py-2;
}

/* this is needed to avoid HN comments from overflowing off the right edge of the screen */
.remirror-editor p {
  @apply break-words;
  word-break: break-word;
}

.remirror-editor.comment p,
.remirror-editor.comment ul,
.remirror-editor.comment ol {
  @apply my-3;
}

.remirror-editor.comment p:first-of-type {
  margin-top: 0 !important;
}

.remirror-editor.comment p + p {
  margin-top: 0;
}

.remirror-editor.comment pre {
  @apply my-3;
}

.remirror-editor.comment a {
  @apply break-all;
}

.remirror-editor p + p {
  margin-top: 0;
}

.remirror-editor code {
  @apply rounded-md border-gray-100 bg-gray-100 px-1 py-0.5 text-gray-800 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-200;
}

.remirror-editor code,
.remirror-editor pre {
  @apply whitespace-pre-wrap text-sm font-medium;
  word-break: break-word;
}

.remirror-editor pre > code {
  @apply bg-gray-800 text-gray-200;
}

.remirror-editor pre {
  @apply bg-gray-800 text-gray-100;
}

.remirror-editor sup {
  @apply text-sm text-blue-500 dark:text-gray-400;
  vertical-align: super;
  top: 0px;
  position: relative;
  scroll-margin-top: 4rem;
}
